.footer{
    background-color: #313131;
    @include flex(center,center);
    flex-direction: column;
    padding: 10px;
    &_top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        img{
            width: 200px;

        }
        .top_input{
           display: flex;
           align-items: center;
           justify-content: space-between;
            border-bottom: 1px solid #ccc;
            width: 600px;
            input{
                height: 40px;
                width: 250px;
                background-color: transparent;
                font-size: 13px;
                font-style: italic;
                letter-spacing: 1px;
                border: none;
                outline: none;
                color: $background_white;
            }
            i{
                font-size: 18px;
                color: #ccc;
            }
        }
        .top_icon{
            @include flex(center,center);
            .top_icon-item{
                height: 36px;
                width: 36px;
                @include flex(center,center);
                background-color: transparent;
                border-radius: 50%;
                border: 1px solid #ccc;
                margin: 0 15px;
                i{
                    font-size: 13px;
                    color: #ccc;
                }
            }
        }
    }
    .line{
        height: 1px;
        width: 85%;
        background-color: #818181;
        margin: 35px 0;
    }
    &_bottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h3{
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            font-size: 15px;
            font-style: italic;
            color: #818181;
            p{
                color: white;
                margin: 0 5px;
                letter-spacing: 1px;
            }
        }
        ul{
            @include flex(center,center);
            li{
                margin: 0 20px;
                a{
                    color: #818181;
                    font-style: italic;
                    font-size: 18px;
                }
            }
        }
    }
}