.introduce {
  @include flex(center, center);
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  &_top {
    @include flex(center, center);
    margin-bottom: 30px;
    .introduce_iamge {
      overflow: hidden;
      height: 500px;
      width: 880px;
      @include flex(center, center);
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
        transition: all 0.5s ease-in;
        cursor: pointer;
      }
      &:hover img {
        transform: scale(1.1);
        filter: blur(4px);
      }
      .border {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
      }
      .border::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(0, 1);
      }
      .border::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(1, 0);
      }
      &:hover .border::after {
        transform: scale(1, 1);
      }
      &:hover .border::before {
        transform: scale(1, 1);
      }
      h3 {
        position: absolute;
        top: 50%;
        left: 40%;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        font-weight: 800;
        transition: opacity 0.5s ease-in;
        opacity: 0;
      }
      &:hover h3 {
        opacity: 1;
      }
    }
  }
  &_banner {
    h2 {
      color: $text_color;
      font-weight: bold;
      font-size: 40px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 400px;
    }
    p {
      line-height: 1.4;
      font-size: 18px;
      width: 600px;
    }
  }
  &_bottom {
    @include flex(center, center);
  }
  &_item {
    @include flex(center, center);
    flex-direction: column;
    margin: 0 35px;
    .introduce_image {
      height: 300px;
      width: 450px;
      @include flex(center, center);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        transition: all 0.5s ease-in;
      }
      &:hover img {
        transform: scale(1.1);
        filter: blur(4px);
      }
      .border {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
      }
      .border::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(0, 1);
      }
      .border::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(1, 0);
      }
      &:hover .border::after {
        transform: scale(1, 1);
      }
      &:hover .border::before {
        transform: scale(1, 1);
      }
      p {
        position: absolute;
        font-size: 18px;
        left: 11%;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        font-weight: 800;
        transition: opacity 0.5s ease-in;
        opacity: 0;
      }
      &:hover p {
        opacity: 1;
      }
    }
    p {
      font-size: 16px;
      margin-top: 15px;
      transition: opacity 0.5s ease-in;
    }
    &:hover p {
      opacity: 0;
    }
  }
}
.about {
  @include flex(center, center);
  flex-direction: column;
  margin: 50px 0;
  &_text {
    @include flex(center, center);
    flex-direction: column;
    h1 {
      font-size: 35px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
    }
    i {
      transform: rotate(180deg);
      font-size: 25px;
      margin: 15px;
    }
  }
  &_outstanding {
    @include flex(center, center);
    margin-top: 20px;
  }
  &_item {
    @include flex(center, center);
    flex-direction: column;
    margin: 0 20px;
  }
  &_icon {
    height: 60px;
    width: 60px;
    @include flex(center, center);
    border-radius: 50%;
    border: 1px solid #dadada;
    transition: all 0.5s ease-in;
    cursor: pointer;
    i {
      color: #000;
      font-size: 22px;
      transition: all 0.5s ease-in;
    }
    &:hover {
      background-color: #ccc;
    }
    &:hover i {
      color: #434343;
    }
  }
  &_note {
    @include flex(center, center);
    flex-direction: column;
    margin-top: 20px;
    h2 {
      font-size: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    p {
      width: 50%;
      text-align: center;
      line-height: 1.4;
      margin-bottom: 20px;
    }
    button {
      padding: 15px;
      color: $text_color;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 18px;
      background-color: transparent;
      transition: all 0.5s ease-in;
      &:hover {
        background-color: #ccc;
        color: #434343;
      }
    }
  }
}
.sell {
  @include flex(center, center);
  flex-direction: column;
  width: 100%;
  padding: 10px;
  &_category {
    @include flex(center, center);
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    .category_text {
      margin-right: 40px;
      h3 {
        font-size: 35px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .line {
        height: 3px;
        width: 100px;
        background-color: #000;
        border-radius: 6px;
        margin-top: 20px;
      }
      .category_amount {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 30px;
        i {
          font-size: 55px;
          color: #111;
          margin-right: 15px;
        }
        p {
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 1.4;
          width: 150px;
          color: #222;
        }
      }
      a {
        text-decoration: underline;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin-right: 10px;
        color: #000;
        font-weight: bold;
      }
    }
    .category_image {
      @include flex(center, center);
      .category_item {
        position: relative;
        @include flex(center, center);
        height: 350px;
        width: 350px;
        margin: 0 15px;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px;
          transition: all 0.5s linear;
        }
        h3 {
          position: absolute;
          left: 20px;
          top: 50%;
          font-size: 25px;
          text-transform: capitalize;
          letter-spacing: 1px;
          font-weight: 700;
          transition: all 0.4s ease;
        }
        &:hover h3 {
          left: 20%;
          font-size: 30px;
          color: white;
        }
        &:hover img {
          transform: scale(1.1);
          filter: blur(2px);
        }
      }
    }
  }
}
.more {
  @include flex(center, center);
  margin-top: 15px;
  &_item {
    position: relative;
    margin: 0 30px;
    height: 350px;
    width: 730px;
    border-radius: 6px;
    @include flex(center, center);
    overflow: hidden;
    transition: all 0.5s linear;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
      transition: all 0.5s linear;
    }
    .more_item-text {
      position: absolute;
      text-align: center;
      padding: 50px;
      border-radius: 6px;
      cursor: pointer;
      p {
        font-size: 35px;
        letter-spacing: 1px;
        color: $background_white;
        text-transform: uppercase;
      }
      h3 {
        font-size: 40px;
        letter-spacing: 1px;
        color: #fff;
        text-transform: capitalize;
        font-weight: bold;
      }
      button {
        margin-top: 30px;
        padding: 15px;
        border-radius: 12px;
        background-color: #ccc;
        color: #111;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: all 0.5s ease-in;
        &:hover {
          background-color: transparent;
          border: 1px solid #ccc;
        }
      }
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transition: all 0.4s ease-in-out;
      }
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        transition: all 0.4s ease-in-out;
      }
      &:hover::before,
      &:hover::after {
        width: 99%;
        height: 99%;
      }
    }
  }
}
.hot {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
  margin-bottom: 30px;
  &_control {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    .hot_title {
      position: absolute;
      left: 10%;
      h3 {
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .line {
        height: 3px;
        width: 50px;
        border-radius: 6px;
        background-color: $background_black;
        margin-top: 10px;
      }
    }
    .hot_control_item {
      @include flex(center, center);
      position: absolute;
      right: 28%;
      padding: 15px;
      .item_contol {
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0 20px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
        color: black;
        transition: all 0.5s ease-in;
      }
      .active {
        border-bottom: 2px solid #111;
        transition: all 0.5s ease-in;
      }
    }
    a {
      position: absolute;
      right: 10%;
      padding: 15px;
      border: 1px solid #111;
      border-radius: 6px;
      font-size: 18px;
      text-transform: capitalize;
      background-color: transparent;
      color: #000;
      transition: all .5s linear;
      i {
        margin-left: 5px;
        transition: all .4s ease-in;
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #fff;
        transition: .4s ease-in-out;
        z-index: -1;
        border-radius: 6px;
      }
      &:hover::before{
        background-color: #000;
        width: 100%;
      }
      &:hover{
        color: white;
      }
    }
  }
  &_wrapper {
    display: grid;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 80px;
    padding: 10px;
    padding-left: 60px;
    overflow: scroll;
    width: 80%;
    height: 750px;
    &::-webkit-scrollbar {
      width: 0px;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
    .wrapper-item {
      height: 350px;
      width: 290px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 6px;
      }
      .type_item {
        position: absolute;
        top: 25px;
        left: 18px;
        background-color: #555;
        @include flex(center, center);
        color: $background_white;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px;
        border-radius: 6px;
        list-style: circle;
        &::before {
          content: "";
          position: absolute;
          top: 7px;
          left: -5px;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right: 10px solid #555;
        }
      }
      .wrapper_control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        @include flex(center, center);
        flex-direction: column;
        border-radius: 6px;
        opacity: 0;
        .control_list {
          .control_item {
            height: 45px;
            width: 45px;
            background-color: #fff;
            margin: 0 10px;
            border-radius: 50%;
            @include flex(center, center);
            i {
              font-size: 19px;
              color: $text_color;
            }
          }
          @include flex(center, center);
          transform: translateY(40px);
          opacity: 0;
        }
      }
      .wrapper_description {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 90px;
          height: 40px;
          margin-top: -10px;
        }
        h3 {
          letter-spacing: 1px;
          font-size: 19px;
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        p {
          color: #444;
          letter-spacing: 1px;
          font-weight: bold;
          margin: 0 6px;
        }
        .pricecalse {
          @include flex(center, center);
          .price_old {
            color: #ccc;
            text-decoration: line-through;
          }
        }
      }
      &:hover .wrapper_control {
        opacity: 1;
        transition: opacity 0.5s ease-in;
      }
      &:hover .control_list {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.5s linear;
      }
      &:hover .img_hover {
        filter: blur(2px);
      }
      &:hover .type_item {
        visibility: hidden;
      }
    }
  }
}
.supplise {
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 30px;
  &_text {
    @include flex(center, center);
    flex-direction: column;
    h2 {
      font-size: 35px;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
    }
    i {
      transform: rotate(180deg);
      font-size: 28px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      width: 50%;
      line-height: 1.4;
      text-align: center;
      margin: 40px 0;
    }
  }
  &_image {
    @include flex(center, center);
    .supplise_item {
      height: 100px;
      width: 200px;
      @include flex(center, center);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
